/*body spacing*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*bord head style*/
.board-head {
  display: flex;
  flex-direction: row;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid #444;
  border-right: 1px solid #444; 
}

/*center and changing size*/
  .board-head .reset,
  .board-head .flag-count,
  .board-head .timer {
    width: 55px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   /*change font*/
  .board-head .reset {
    font-size: 25px;
   }

   /*board size change*/
.board {
  width: 500px;
  height: 500px;
  border: 1px solid #444;
  border-bottom: none; 
}

/*rows of board*/
  .board .row {
    display: flex;
    height: 50px; 
  }

    .board .row:last-child {
      border-bottom: none;
      height: 50px; 
    }

    /*center board*/
    .board .row .cell {
      border-right: 1px solid #444;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #444; 
    }

    /*background color*/
      .board .row .cell.open {
        background-color: #d4d4d4; 
      }

      /*hover on cell*/
        .board .row .cell.open:hover {
          background-color: #d4d4d4;
         }

         /*background color*/
      .board .row .cell:hover {
        background-color: #eeeeee; 
      }

      .board .row .cell:last-child {
        border-right: none; 
      }

      /*board height*/
html,
body {
  height: 100%; 
}

/*centering*/
  html #root,
  body #root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  /*flex*/
    html #root .minesweeper,
    body #root .minesweeper {
      display: flex;
      flex-direction: column;
      height: 600px; 
    }

    /*background color*/
      html #root .minesweeper h1,
      body #root .minesweeper h1 {
        text-align: center;
        border-left: 1px solid #444;
        border-top: 1px solid #444;
        border-right: 1px solid #444; 
      }
    /*btn style*/
      .btnInstruction{
        align-items: center;
        text-align: center;
        font-size: 20px;
      }